AI_PROVIDER=
GROQ_API_KEY=
GROQ_MODEL=
SUPABASE_SECRET_KEY=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_URL=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_APP_SECRET=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_VERIFY_TOKEN=